.container {
    margin: 0;
}
*{
    margin:0;
}
.header {
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: center;
    padding: 10px ;
}
.productBlock{
    background-color: bisque;
}
.box {
    margin: 20px;
    width: 500px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.box:hover{
    box-shadow: 10px 10px 10px #000;
    transform: scale(1.1);
}
.cartBlock {
    background-color: silver;
    width: 300px;
    position: fixed;
    top:0px;
    left:100%;
    height: 100%;
    padding: 20px;
    transition: 2s;
}